<!-- carousel -->

<div class="carousel">
  <h3 class="white-text">Landing Page</h3>
    <div class="carousel-item">
      <div id="lp1"><a class="white-text" href="story_image_logo"><%=image_tag("landing_images/story_logo.jpg") %></a></div>
    <%= image_tag ("landing_images/story_logo.jpg") %>
  </div>  
</div>

<!-- button -->
<div id="gstart">
	<a class="btn waves-effect white grey-text darken-text-2">button</a>
</div>