<!-- carousel -->

<div class="carousel carousel-slider">
  <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
  <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
  <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
  <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
</div>


<!-- button -->

<div class="center-align">
	<a class="btn waves-effect white grey-text darken-text-2" <%= link_to("Get Started", city_path) %></a>
</div>


<!-- footer -->

<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col l6 s9">
        <h5 class="white-text">About Page</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>