<div class="parallax-container" >
    <div class="parallax" id='landing_promo'>
    <%= video_tag "landing_promo", autoplay: :autoplay, muted: true%>
  </div>

</div>
<div class="section black">
  <div class="row container">
    <h2 class="header center">Welcome to the Velvet Rope</h2>
    <br>
    <div class="center-align zoom"><a href="city" class="white black-text waves-effect waves-light btn hoverable center">Enter.</a></div>
    <br>
    <p class="white-text center"> Club away the easy way. Book your table now!</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <%= image_tag "background2" %>
  </div>
</div>



<div class="line"></div>
<!-- Placeholder footer -->
<footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>

