

<nav>
    <div class="nav-wrapper black">
      <a href="/" class="brand-logo">  The VelvetRope</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="modal-trigger" href="#signin">Sign in</a></li>
        <li><a class="modal-trigger" href="#signup">Sign up</a></li>
      </ul>
    </div>
  </nav>
  <div id="signup" class="modal grey darken-4">
      <div class="modal-content">
        <%= render 'users/signup' %>
      </div>
    </div>


    <div id="signin" class="modal grey darken-4">
        <div class="modal-content">
          <%= render 'users/login' %>
        </div>
      </div>
<div class="parallax-container" >
    <div class="parallax" id='landing_promo'>
    <%= video_tag "landing_promo", autoplay: :autoplay, muted: true%>
  </div>

</div>
<div class="section black">
  <div class="row container">
    <h2 class="header center">Welcome to the Velvet Rope</h2>
    <br>
    <div class="center-align zoom"><a href="city" class="white black-text waves-effect waves-light btn hoverable center">Enter.</a></div>
    <br>
    <p class="white-text center"> VIP the easy way. Book your table now!</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <%= image_tag "background1" %>
  </div>
</div>



<div class="line"></div>

