<div class="parallax-container" id="background1">
  <div class="parallax">
    <%= image_tag "background1"%>
  </div>
</div>
<div class="section black">
  <div class="row container">
    <h2 class="header center">Welcome to the Velvet Rope</h2>
    <br>
    <div class="center-align"><a href="city" class="white black-text waves-effect waves-light btn hoverable center">Enter.</a></div>
    <br>
    <p class="white-text center"> Club away the easy way. Book your table now!</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <%= image_tag "background2"%>
  </div>
</div>
