<!-- carousel -->

<div id="slider">
  <ul class="slides center-align">
    <li>
      <%=image_tag("landing_images/club_photo_2_omnia.jpg") %> <!-- random image -->
      <div class="caption center-align">
        <h3></h3>
        <h5 class="light grey-text text-lighten-3"></h5>
      </div>
    </li>
  </ul>
</div>
      
<!-- button -->

<div class="center-align">
	<a class="btn waves-effect white grey-text darken-text-2" <%= link_to("Get Started", city_path) %></a>
</div>


<!-- footer -->

