<h1>Landing#index</h1>

<%#=  @club_images.each do |photo|%>
	<%#= image_tag(photo) %>
<!-- <% end %> -->

<div class="carousel carousel-sli">
   <h3 class="white-text">Featured Playlists: US</h3>
   <%=  @club_images.each do |photo|%>
    <div class="carousel-item">
      <div><%= image_tag(photo) %></div>
    </div>
   <% end %>
  </div>