
  <!-- Breadcrumb -->
  <nav>
    <div class="nav-wrapper black">
      <div class="col s12">
        <a href="/" class="breadcrumb">Home</a>
        <a href="#!" class="breadcrumb">Cities</a>
      </div>
    </div>
  </nav>

  <div class="line"></div>

  <!-- City grid -->
  <div class="row">


    <!-- Miami -->
    <div class="col s12 l4 ">
      <div class="card">
        <div class="card-image">
          <img src="https://3.bp.blogspot.com/-Oh36gihXnSg/UsvfokoOmsI/AAAAAAAAA4s/WpUnRgi91Gw/s1600/1502277yuff.jpg">
          <span class="card-title">Miami</span>
        </div>
      </div>
    </div>

    <!-- Las Vegas -->
    <div class="col s12 l4 ">
      <div class="card">
        <div class="card-image">
          <img src="http://cdn.wonderfulengineering.com/wp-content/uploads/2016/01/las-vegas-wallpaper-9.jpg">
          <span class="card-title">Las Vegas</span>
        </div>
      </div>
    </div>

    <!-- Ibiza -->
    <div class="col s12 l4 ">
      <div class="card">
        <div class="card-image">
          <img src="https://wallpaperstudio10.com/static/wpdb/wallpapers/3840x2160/169630.jpg">
          <span class="card-title">Ibiza</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Hong Kong -->
    <div class="col s12 l4 ">
      <div class="card">
        <div class="card-image">
          <img src="https://wallpaperstudio10.com/static/wpdb/wallpapers/3840x2160/168426.jpg">
          <span class="card-title">Hong Kong</span>
        </div>
      </div>
    </div>

    <!-- Amsterdam -->
    <div class="col s12 l4 ">
      <div class="card">
        <div class="card-image">
          <img src="https://www.pixelstalk.net/wp-content/uploads/images1/Amsterdam-Widescreen-Wallpapers-screen.jpg">
          <span class="card-title">Amsterdam</span>
        </div>
      </div>
    </div>

    <!-- Athens -->
    <div class="col s12 l4 ">
      <div class="card">
        <div class="card-image">
          <img src="http://www.baltana.com/files/wallpapers-9/Athens-Wallpaper-27657.jpg">
          <span class="card-title">Athens</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <!-- Barcelona -->
    <div class="col s12 l4 ">
      <div class="card">
        <div class="card-image">
          <img src="https://wallpapercave.com/wp/wp1825719.jpg">
          <span class="card-title">Barcelona</span>
        </div>
      </div>
    </div>

    <!-- New York -->
    <div class="col s12 l4 ">
      <div class="card">
        <div class="card-image">
          <img src="http://globalmedicalco.com/photos/globalmedicalco/18/86693.jpg">
          <span class="card-title">New York</span>
        </div>
      </div>
    </div>

    <!-- Bangkok -->
    <div class="col s12 l4 ">
      <div class="card">
        <div class="card-image">
          <img src="http://travelhdwallpapers.com/wp-content/uploads/2017/03/Bangkok-Wallpaper-10.jpeg">
          <span class="card-title">Bangkok</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="line"></div>
