

  <nav>
    <div class="nav-wrapper black">
      <div class="col s12">
        <a href="#!" class="breadcrumb">Home</a>
        <a href="#!" class="breadcrumb">Cities</a>
      </div>
    </div>
  </nav>
