// Place all the styles related to the city controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-color: #9ca5bb;
}

.card {
  border: solid #34b4f4 2px;
}

.city_tagline{
  margin-left: 258px;
}

.page-footer {
  display: flex;
  bottom: 0%;
}
