// Place all the styles related to the Rerservation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  color: white
}

.top_section{
  display: flex;
}

.booking_info, .club_floorplan, .payment_section{
  width: 325px;
height:455px;
background-color: grey;
border: solid 2px;
border-color: purple;
margin-top: 30px;
}
