// Place all the styles related to the Rerservation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  color: white
}

.top_section{
display: flex;
}
label {
  border-bottom: solid 1px rgb(83, 83, 83);
}
// ******* CLUB BOOKING INFO SECTION ************



.booking_info1, .booking_info2, .booking_info3, .booking_info4, .booking_info5{
  margin-left: 10px;
  margin-top: 10px;
}

.picker__date-display{
  background-color: #bdbdbd;
}

.btn-flat{
  color: black;
}

#booking_num_of_males{
  margin-top: -10px;
}

#booking_num_of_females{
  margin-top: -19px;
}

.check_tables_button button{
  margin-left: 78px;
  background-color: transparent;
  border-color: white;
}


// ********CLUB LAYOUT SECTION ************

.payment_section, .club_floorplan{
  margin-left: 30px;
}


.tables_and_dancefloor, .tdf_left_side, .tdf_right_side, .vip_tables_andDJbooth_booking{
  display: flex;
}

.tables_and_dancefloor{
  margin-left: 12px;
}

.club_floorplan{
  text-align: center;
}
.booking_info{
  width: 395px;
  height:500px;
  background-color: #212121;
  border: solid 2px;
  border-color: #34b4f4;
  margin-top: 30px;
  margin-left: 15px;
  overflow: auto;
}
.payment_section,{
width: 395px;
height:500px;
background-color: #212121;
border: solid 2px;
border-color: #34b4f4;
margin-top: 30px;
margin-left: 15px;
}
.club_floorplan{
width: 477px;
height:500px;
background-color: #212121;
border: solid 2px;
border-color: #34b4f4;
margin-top: 30px;
}



.main_bar{
  width: 150px;
  height: 24px;
  background-color: transparent;
  border: solid 2px;
  border-color: #34b4f4;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 163px;
}


.box{
  width: 65px;
  height: 65px;
  background-color: transparent;
  border: solid 2px;
  border-color: #white;
}

.dance_floor_booking{
  width: 175px;
  height: 277px;
  background-color: transparent;
  border: solid 2px;
  border-color: #34b4f4;
  margin-left: 5px;
  margin-top: 20px;

}

.ed{
    width: 65px;
    height: 65px;
    background-color: transparent;
    border: solid 2px;
    border-color: #34b4f4;
}


// *************Table Locations *****************
.table_1{
  margin-top: 20px;
}
.table_2{
  margin-top: 20px;
  margin-left: 2px;
}

.table_3{
  margin-top: 87px;
  margin-left: -132px;
}

.table_4{
  margin-top: 87px;
  margin-left: -65px;
}

.table_5{
  margin-top: 165px;
    margin-left: -132px;
}

.table_6{
  margin-top: 165px;
    margin-left: -65px;
}

.table_7{
  margin-top: 232px;
margin-left: -132px;
}

.table_8{
  margin-top: 232px;
margin-left: -65px;
}

.table_9{
  margin-left: 5px;
    margin-top: 20px;
}

.table_10{
margin-top: 20px;
margin-left: 2px;
}

.table_11{
margin-top: 87px;
    margin-left: -132px;
}

.table_12{
margin-top: 87px;
margin-left: -65px;
}
 // *****Owner's Table *********
.table_13{
margin-top: 165px;
margin-left: -132px;
}

.table_14{
margin-top: 165px;
margin-left: -65px;
}

.table_15{
margin-top: 232px;
margin-left: -132px
}

.table_16{
margin-top: 232px;
margin-left: -65px;
}

// ******TABLE 17 *********
.tl_left_vip_booking{
  width: 132px;
  height: 72px;
  background-color: transparent;
  border: solid 2px;
  border-color: white;
  margin-top: 3px;
  margin-left: 12px;
  }


  .leftvip_ed{
    width: 132px;
    height: 72px;
    background-color: transparent;
    border: solid 2px;
    border-color: white;
    margin-top: 3px;
    margin-left: 12px;
    }



// ********TABLE 19 *********
.tl_right_vip_booking{
  width: 132px;
  height: 72px;
  background-color: transparent;
  border: solid 2px;
  border-color: white;
  margin-top: 3px;
  margin-left: 5px;

}


.rightvip_ed{
  width: 132px;
  height: 72px;
  background-color: transparent;
  border: solid 2px;
  border-color: white;
  margin-top: 3px;
  margin-left: 5px;
}

// *****DJ BOOTH TABLE 18********

.dj_booth_booking{
  width: 175px;
  height: 72px;
  background-color: transparent;
  border: solid 2px;
  border-color: white;
  margin-top: 3px;
  margin-left: 6px;
}

.dj_ed {
  width: 175px;
  height: 72px;
  background-color: transparent;
  border: solid 2px;
  border-color: white;
  margin-top: 3px;
  margin-left: 6px;
}
#wrapper{
  width: 70%;
  margin: 0 auto;
  overflow: auto;
}
#stripetotal {
  background-color: transparent;
  border-color: #34b4f4;
  margin-left: 115px;


}
/* Override materialize for radio buttons */
#wrapper input.radio-btn[type="radio"]:checked,
#wrapper input.radio-btn[type="radio"]:not(:checked) {
  position: relative;
  opacity: 1;
  pointer-events: auto;
}

#nresults{
  margin-top: -16px;
}

#sresults{
  margin-top: -6px;
}

#finale {
  margin-top: -10px !important;
}

#refresh{
  position: relative;
  top: 40px;
}
