<nav>
  <div class="nav-wrapper black">
    <div class="col s12">
      <a href="/" class="breadcrumb">Home</a>
      <a href="/city/" class="breadcrumb">Cities</a>
      <a href="#!" class="breadcrumb">Miami</a>
    </div>
  </div>
</nav>

<div class="line"></div>



<div class="container">
  <div class="row">

    <!-- Rockwell -->
    <div class="col s12 m6 l6">
      <a href="#">
        <div class="card">
          <div class="card-image">
              <%= image_tag "logos/rockwell", :class => "club" %>
            </div>
          </div>
      </a>
    </div>

    <!-- Eleven -->
    <div class="col s12 m6 l6">
      <a href="#">
        <div class="card">
          <div class="card-image">
              <%= image_tag "logos/eleven", :class => "club" %>
            </div>
          </div>
      </a>
    </div>

  </div>

  <div class="row">

    <!-- Story -->
    <div class="col s12 m6 l6">
      <a href="#">
        <div class="card">
          <div class="card-image">
              <%= image_tag "logos/story", :class => "club" %>
            </div>
          </div>
      </a>
    </div>

    <!-- liv -->
    <div class="col s12 m6 l6">
      <a href="#">
        <div class="card">
          <div class="card-image">
              <%= image_tag "logos/liv", :class => "club" %>
            </div>
          </div>
      </a>
    </div>

  </div>
</div>
