<nav>
  <div class="nav-wrapper black">
    <div class="col s12">
      <a href="/" class="breadcrumb">Home</a>
      <a href="/city/" class="breadcrumb">Cities</a>
      <a href="#!" class="breadcrumb">Miami</a>
    </div>
  </div>
</nav>
