<h1>Rerservation#index</h1>
<p>Find me in app/views/rerservation/index.html.erb</p>

Hey this is the create a booking page

<div class="top_section">

  <div class="booking_info">
    This is where the booking info will go
  </div>

  <div class="club_floorplan">

    


    This is where the table layout will go
  </div>

  <div class="payment_section">
    This is where the credit card info will go
  </div>
</div>










<div class="bottom_section">
  This is where the rockwell photos carosel will go
</div>
