<!DOCTYPE html>
<html>
  <head>
    <title>VRope</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Arizonia" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <nav>
      <div class="nav-wrapper black">
        <a href="#" class="brand-logo">  The VelvetRope</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/login">Sign in</a></li>
          <li><a href="/login">Sign up</a></li>
        </ul>
      </div>
    </nav>

  <body>
    <%= yield %>
  </body>
</html>
